{"openapi":"3.0.1","info":{"title":"Rest Application","description":"Rest Application","termsOfService":"http://swagger.io/terms/","license":{"name":"Apache 2.0","url":"http://springdoc.org"},"version":"1.0"},"servers":[{"url":"http://t-a.org"}],"paths":{"/country/":{"get":{"tags":["rest-country-controller"],"operationId":"getCountries","parameters":[{"name":"x-authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CollectionModelCountry"}}}}}},"post":{"tags":["rest-country-controller"],"operationId":"addCountry","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Country"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/country/{cid}":{"get":{"tags":["rest-country-controller"],"operationId":"getCountry","parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Country"}}}}}},"put":{"tags":["rest-country-controller"],"operationId":"updateCountry","parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Country"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["rest-country-controller"],"operationId":"deleteCountry","parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/tour/{tid}":{"get":{"tags":["rest-tour-controller"],"operationId":"getTour","parameters":[{"name":"tid","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Tour"}}}}}},"put":{"tags":["rest-tour-controller"],"operationId":"updateTour","parameters":[{"name":"tid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tour"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["rest-tour-controller"],"operationId":"deleteTour","parameters":[{"name":"tid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/tour/{tid}/customer":{"get":{"tags":["rest-tour-controller"],"operationId":"getCustomers","parameters":[{"name":"tid","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CollectionModelCustomer"}}}}}},"post":{"tags":["rest-tour-controller"],"operationId":"addCustomer","parameters":[{"name":"tid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/country/{cid}/location/{lid}":{"get":{"tags":["rest-country-controller"],"operationId":"getLocation","parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}},{"name":"lid","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Location"}}}}}},"put":{"tags":["rest-country-controller"],"operationId":"updateLocation","parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}},{"name":"lid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Location"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["rest-country-controller"],"operationId":"deleteLocation","parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}},{"name":"lid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/tour/":{"get":{"tags":["rest-tour-controller"],"operationId":"getTours","parameters":[{"name":"x-authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CollectionModelTour"}}}}}},"post":{"tags":["rest-tour-controller"],"operationId":"addTour","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tour"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/tour/{tid}/customer/{cid}":{"get":{"tags":["rest-tour-controller"],"operationId":"getCustomer","parameters":[{"name":"tid","in":"path","required":true,"schema":{"type":"string"}},{"name":"cid","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Customer"}}}}}},"put":{"tags":["rest-tour-controller"],"operationId":"updateCustomer","parameters":[{"name":"tid","in":"path","required":true,"schema":{"type":"string"}},{"name":"cid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Customer"}}},"required":true},"responses":{"204":{"description":"No Content"}}},"delete":{"tags":["rest-tour-controller"],"operationId":"deleteCustomer","parameters":[{"name":"tid","in":"path","required":true,"schema":{"type":"string"}},{"name":"cid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"}}}},"/country/{cid}/location":{"get":{"tags":["rest-country-controller"],"operationId":"getLocations","parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-authorization","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CollectionModelLocation"}}}}}},"post":{"tags":["rest-country-controller"],"operationId":"addLocation","parameters":[{"name":"cid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Location"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}}},"components":{"schemas":{"Country":{"type":"object","properties":{"name":{"type":"string"},"locations":{"type":"array","items":{"$ref":"#/components/schemas/Location"}},"id":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}}}},"Link":{"type":"object","properties":{"rel":{"type":"string"},"href":{"type":"string"},"hreflang":{"type":"string"},"media":{"type":"string"},"title":{"type":"string"},"type":{"type":"string"},"deprecation":{"type":"string"},"profile":{"type":"string"},"name":{"type":"string"}}},"Location":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}}}},"CollectionModelCustomer":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}},"content":{"type":"array","items":{"$ref":"#/components/schemas/Customer"}}}},"Customer":{"type":"object","properties":{"name":{"type":"string"},"surname":{"type":"string"},"id":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}}}},"Tour":{"type":"object","properties":{"name":{"type":"string"},"location":{"$ref":"#/components/schemas/Location"},"customers":{"type":"array","items":{"$ref":"#/components/schemas/Customer"}},"id":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}}}},"CollectionModelTour":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}},"content":{"type":"array","items":{"$ref":"#/components/schemas/Tour"}}}},"CollectionModelLocation":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}},"content":{"type":"array","items":{"$ref":"#/components/schemas/Location"}}}},"CollectionModelCountry":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/Link"}},"content":{"type":"array","items":{"$ref":"#/components/schemas/Country"}}}}}}}